<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% if number %}№ {{number}} {{title}} · {% elif pageTitle %} {{pageTitle}} · {% endif %} {{ metadata.title }}</title>
        <meta name="description" content="The unofficial listener's guide to The Sci-Fi Christian Podcast, hosted by Ben de Bono and Matt Anderson">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="msapplication-TileColor" content="#41c6e7">
        <meta name="theme-color" content="#41c6e7">
    </head>
    <body>
        <div class="section">
            {{ layoutContent | safe }}
            
            {% include "components/footer.njk" %}
        </div>

        {% include "components/siteJs.njk" %}
    </body>
</html>